@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,200;0,400;0,800;1,400&display=swap");

* {
  transition-property: color, background-color, border-color, stroke, fill,
    fill-rule, d;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  /* outline:rgb(50, 50, 50) .11rem solid; */
}

:root {
  /* OLD; erase eventually */
  /* --main-bg-color-dark: rgb(50, 50, 50);
  --main-bg-color-light: rgb(250, 250, 250); */

  /* NEW; keep */
  --menuOpacity: 0.95;
  --primaryColor: rgb(50, 50, 50);
  --secondaryColor: rgb(150, 150, 150);
  --backgroundColor: rgb(250, 250, 250);
  --backgroundColorOpacity: rgba(250, 250, 250, var(--menuOpacity));
  --primaryBtnColor: rgb(87, 228, 0);
  --menuLineGradient: linear-gradient(
      to right,
      rgba(50, 50, 50, 0),
      var(--primaryColor),
      rgba(50, 50, 50, 0)
    )
    1;
  --menuLineStyle: 1px solid transparent;

  --main-font: "Poppins", system-ui, Helvetica, Arial, sans-serif;
  --attention-font: "Playfair+Display", Times New Roman, Georgia, serif;

  font-family: var(--main-font);
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
}
/* :root: */
.dark-theme {
  --primaryColor: rgb(250, 250, 250);
  --secondaryColor: rgb(150, 150, 150);
  --backgroundColor: rgb(50, 50, 50);
  --backgroundColorOpacity: rgba(50, 50, 50, var(--menuOpacity));
  --menuLineGradient: linear-gradient(
      to right,
      rgba(250, 250, 250, 0),
      var(--primaryColor),
      rgba(250, 250, 250, 0)
    )
    1;
}
#root,
body {
  height: 100vh;
  background-color: var(--backgroundColor);
}
body::-webkit-scrollbar {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: var(--main-font);
  color: var(--primaryColor);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
p,
button {
  font-weight: 400;
}
p.italic,
span.italic {
  font-style: italic;
}

/* brought over from index.css */
h1 {
  font-size: 2.6em;
  line-height: 1.1;
}

a {
  font-weight: 800;
  color: var(--primaryColor);
  text-decoration: inherit;
}
.aDark {
  color: var(--main-bg-color-light);
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}

button.btn {
  border-radius: 40px;
  padding: 0.6em 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.25s;

  margin-inline-start: 8px;
  margin-inline-end: 8px;
  writing-mode: horizontal-tb;
}
.btn-outline-primary {
  border: 2px solid var(--primaryColor);
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
}
.btn-outline-primary:hover {
  border: 2px solid var(--primaryBtnColor);
  background-color: var(--primaryBtnColor);
  color: var(--backgroundColor);
}
.btn-secondary {
  border: 2px solid grey;
  background-color: var(--backgroundColor);
  color: grey;
}
.btn-secondary:hover {
  border: 2px solid var(--primaryColor);
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
}

/* Splide */
li.splide__slide {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.splide__slide p {
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: 200;
}
ul {
  list-style-type: none;
}
ul,
li {
  margin-left: 0;
  padding-left: 0;
}
.splide__progress .splide__progress__bar {
  position: fixed;
  height: 3px;
  background: #000;
  bottom: 0;
  left: 0;
}
.home-slideshow {
  height: 100%;
  position: absolute;
  top: 3em;
  width: 100vw;
}
/* mine */
.app {
  background-color: var(--main-bg-color-light);
  color: rgb(50, 50, 50);
}
#darkMode {
  position: fixed;
  top: 12px;
  left: 12px;
  cursor: pointer;
}

/* add affirmations */
.addAffirmation textarea {
  width: 100%;
  max-width: 700px;
  height: 35vh;
  background-color: transparent;
  text-align: center;
  color: var(--primaryColor);
  padding: 1rem;
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 200;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.editSection ul {
  padding-left: unset;
}

/* Icons */
.reactIcons {
  color: white;
}

/* Card */
.card {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.card p {
  margin-bottom: 0;
  font-weight: 200;
  padding-right: 44px;
  width: 100%;
}
.card.grid {
  display: grid;
}
.card .edit {
  position: absolute;
  display: block;
  height: 100%;
  width: 30px;
  right: 0px;
  border-radius: 0 4px 4px 0;
  border: unset;
  padding: 0.2rem 0.2rem;
  margin: -1rem 0 0 0;
  background-color: var(--secondaryColor);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--primaryColor);
}
.card .edit:hover {
  background-color: rgb(50, 50, 50);
}
.card .edit svg {
  height: 100%;
}

/* Page layouts? */
.traditional__layout {
  position: relative;
  /* top: 80px; */
  /* width: 80%;
  left: 10%; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.currentAffirmations {
  display: grid;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* MISC organize better */
.about {
  width: 100%;
}
.about p {
  margin: auto;
  min-width: 300px;
  max-width: 500px;
}
.about p i,
.search-params p strong {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #d1f409;
  line-height: 0;
}
.about p i {
  font-family: var(--attention-font);
  font-size: 1.3rem;
}
.search-params p strong {
  font-family: var(--main-font);
  font-size: 1.2rem;
  text-decoration-color: unset;
}

.affirmation-params {
  width: 200px;
}
.affirmation-params {
  display: block;
}
.affirmation-params form {
  display: block;
}
.affirmation-params form label {
  display: block;
  text-align: center;
  /* width: 100%; */
  /* flex-direction: column; */
}
.affirmation-params form label select {
  display: block;
  width: 100%;
  /* flex-direction: column; */
}

.codeVomit {
  font-size: 10px;
}

.testButton {
  position: absolute;
  bottom: 0;
  right: 0;
}
