/* Move this into diff CSS file - START */
* {
  box-sizing: border-box;
  /* color: #333; */
}

body {
  background-color: #81a69b;
  /* background-image: url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg); */
  margin: 0;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}
/* Move this into diff CSS file - END */

/* Search Params - START */
.search-params {
  /* width: 1100px; */
  margin: 0 auto;
}

.search-params form {
  /* border-radius: 6px; */
  /* background: #fff; */
  /* border: solid 1px #000; */
  /* margin: 0 auto; */
  /* margin-bottom: 1em; */
  /* padding: 35px 15px 15px 15px; */
  /* float: left; */
  max-width: 450px;
}
.search-params form,
.cards {
  /* width: 360px; */
  margin: auto;
}

.search-params label {
  display: block;
  letter-spacing: 0.06rem;
}

.search-params input,
.search-params select {
  margin-bottom: 8px;
  font-size: 18px;
  height: 30px;
  width: 325px;
}

.search-params button,
#modal button,
#modal a,
.details button {
  background-color: #ad343e;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.search-params button:hover {
  background-color: #122622;
}

.search-params button:active {
  background-color: #5f1d22;
}

.search-params button:focus {
  border: 1px solid cornflowerblue;
}

/* Modal (some more above in Search Params) - START*/
#modal {
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(1px);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  filter: drop-shadow(0 0 3rem black);
  max-width: 500px;
  padding: 15px;
  margin: 1em;
  text-align: center;
  border-radius: 6px;
  background: #faeff0;
}

#modal h2 {
  padding: 0.25rem 0.5rem 0rem 0.25rem;
}

#modal p {
  margin-bottom: 0.5rem;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}
#modal a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}
/* Modal - END */

.list-group {
  gap: 0.4rem;
}
.MuiInputBase-root .MuiSelect-select {
  font-family: "Poppins";
  font-size: 1.2rem;
  padding-bottom: 0.7rem;
}
.btnGroupDelete {
  border-radius: 40px !important;
  margin: unset !important;
  padding: 8px 8px !important;
  border: unset !important;
}
.aff-wrap-gradient {
  border-color: rgba(0, 0, 0, 0.23) rgb(240 30 50 / 0%) rgba(0, 0, 0, 0.23) !important;
}
